* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}

* img {
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: clamp(720px, 96vw, 960px);
}

.container-admin {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

.header {
    padding: 17px 0 16px;
}

.header__container,
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    text-decoration: none;
    transition: color 0.3s;
    font: 26px 'Lora', sans-serif;
}

.navigation__menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.navigation__menu_header {
    display: none;
}

.navigation__menu_header.active {
    padding-top: 50px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(100px, 40vw, 300px);
    height: 100vh;
    background-color: #252525;
    z-index: 2;
}

.navigation__menu_header.active .navigation__link {
    color: #FFFFFF;
    font-size: 14px;
}

.navigation__link {
    text-decoration: none;
    transition: all 0.3s;
    font: 12px 'Oxygen', sans-serif;
    text-transform: uppercase;
}

.navigation__burger {
    display: flex;
    min-height: 35px;
    max-width: 35px;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 5;
}

.navigation__burger-line {
    position: relative;
    width: 35px;
    height: 2px;
    background-color: #D9D9D9;
    transition: all 0.3s;
}

.navigation__burger-line::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 7px;
    height: 2px;
    background-color: #D9D9D9;
    transition: all 0.3s;
}

.navigation__burger-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 7px;
    background-color: #D9D9D9;
    transition: all 0.3s;
}

.navigation__burger.active .navigation__burger-line::before {
    transform: rotate(45deg);
    bottom: 0;
}

.navigation__burger.active .navigation__burger-line::after {
    transform: rotate(-45deg);
    top: 0;
}

.navigation__burger.active .navigation__burger-line {
    background-color: inherit;
}

.footer {
    background-image: url("../images/background_footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__menu {
    flex-direction: column;
}

.footer__wrapper {
    background-color: rgba(35, 47, 56, 0.6);
    padding: 28px 0 27px;
}

.footer__form {
    display: flex;
    max-width: 520px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 81px 15px 90px;
}

.form__title {
    flex-basis: 100%;
    color: #EFEFEF;
    font: 25px/1.33 Oxygen, sans-serif;
    text-align: center;
}

.form__title::after {
    display: block;
    position: relative;
    content: '';
    max-width: 188px;
    height: 1px;
    background-color: #EFEFEF;
    margin: 18px auto 20px;
}

.form__input {
    flex-basis: 75%;
    min-height: 50px;
    padding: 17px 35px;
    border: 0;
    color: #817F83;
    font: 12px/1 Roboto, sans-serif;
    border-radius: 3px 0 0 3px;
}

.form__input:focus-visible {
    outline: 2px solid #dedede;
}

.form__submit {
    flex-basis: 25%;
    min-height: 50px;
    border: 0;
    color: #F8F8F8;
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 0 3px 3px 0;
}

.form__submit:disabled {
    background-color: rgba(147, 145, 145, 0.28);
}

.form__error {
    padding-top: 5px;
    color: #FFFFFF;
    font: 12px/1 Oxygen, sans-serif;
}

.footer__logo {
    color: rgb(255, 255, 255);
    align-self: flex-start;
}

.footer__logo:hover {
    color: rgb(220, 220, 220);
}

.page-404 {
    height: 77.5vh;
}

.page-404__title {
    font: 50px 'Lora', sans-serif;
    text-align: center;
}

.page-404__wrapper {
    display: flex;
    max-width: 768px;
    margin: 60px auto 0;
    justify-content: center;
}

.page-404__image-container {
    max-width: 150px;
}

.page-404__image-container_animated{
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 1s ease infinite alternate;
}

.error {
    color: #E86961;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

@keyframes bounce {
    100% {
        top: -20px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .navigation__menu_header {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
    }

    .navigation__menu_header.active {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        background-color: unset;
        position: relative;
        top: unset;
        right: unset;
        width: unset;
        height: unset;
        z-index: unset;
    }

    .navigation__burger {
        display: none;
    }

    .footer__menu {
        flex-direction: row;
    }

    .footer__logo {
        align-self: unset;
    }

    .footer__form {
        padding-left: 10px;
        padding-right: 10px;
    }
}